<sb-layout-dashboard>
    <sb-dashboard-head title="Applicants" [hideBreadcrumbs]="false"></sb-dashboard-head>

<div class="">
    <!-- <div class="title">Add Applicant</div> -->
    <div class="content">
      <form action="#" [formGroup]= "LoginForm">
        <div class="user-details container">
          <div class="input-box">
            <span class="details">First Name</span>
            <input type="text" placeholder="Enter First Name" required formControlName="firstName">
            <mat-error *ngIf="submitted && LoginForm.get('firstName').hasError('required')">
              Please enter First name
          </mat-error>
          </div>
          <div class="input-box">
            <span class="details">Last Name</span>
            <input type="text" placeholder="Enter Last Name" required formControlName="lastName">
          </div>
          <div class="input-box">
            <span class="details">Phone Number</span>
            <input type="text" placeholder="Enter Phone Number" required  formControlName="phoneNumber">
            <mat-error *ngIf="submitted && LoginForm.get('phoneNumber').hasError('required')">
              Please enter Phone number
          </mat-error>
          </div>
          <div class="input-box">
            <span class="details">Email</span>
            <input type="text" placeholder="Enter Email" required formControlName="email">
            <mat-error *ngIf="submitted && LoginForm.get('email').hasError('required')">
              Please enter Email
          </mat-error>
          </div>

          <div class="input-box">
            <span class="details">Reference By</span>
            <input type="text" placeholder="Enter Reference User" formControlName="reference">
          </div>

          <div class="input-box">
            <span class="details">Qualification</span>
            <mat-select class="form-control" required placeholder="Select qualification" [formControlName]="'qualification'">
              <mat-option value="">Please Select</mat-option>
              <mat-option value="BE">B.E. / B.Tech </mat-option>
              <mat-option value="BA">B.A </mat-option>
              <mat-option value="Diploma">Diploma</mat-option>
              <mat-option value="PUC">PUC</mat-option>
              <mat-option value="MTech">M.Tech</mat-option>
              <mat-option value="BSC">B.Sc</mat-option>
              <mat-option value="Commerce">Commerce</mat-option>
              <mat-option value="MBA">MBA</mat-option>
              <mat-option value="BCom">B.Com</mat-option>
              <mat-option value="BBA">B.B.A. / B.B.M.</mat-option>
              <mat-option value="BFA">B.F.A.</mat-option>
              <mat-option value="BED">B.Ed.</mat-option>
              <mat-option value="LLB">L.L.B.</mat-option>
              <mat-option value="MA">M.A.</mat-option>
              <mat-option value="MSc">M.Sc.</mat-option>
              <mat-option value="MCom">M.Com</mat-option>
              <mat-option value="ME">M.E.</mat-option>
              <mat-option value="MED">M.Ed</mat-option>
              <mat-option value="PhD">Ph.D.</mat-option>

            </mat-select>
            <mat-error *ngIf="submitted && LoginForm.get('qualification').hasError('required')">
              Please select Qualification
          </mat-error>
          </div>

          <div class="input-box">
            <span class="details">Language</span>
                <mat-select class="form-control" multiple [formControl]="languages" >
                  <mat-select-trigger >
                    <span class="example-additional-selection">
                      {{languages.value}}
                    </span>
                  </mat-select-trigger>
                <mat-option *ngFor="let language of languagesList;" [value]="language">{{language}}</mat-option>
                </mat-select>
              <mat-error *ngIf="submitted && LoginForm.get('language').hasError('required')">
                Please select Language
            </mat-error>
          </div>

          <div class="input-box">
            <span class="details">Looking for job?</span>
            <mat-select class="form-control" required placeholder="Looking for job?" [formControlName]="'lookingForJob'">
              <mat-option value="">Please Select</mat-option>
              <mat-option value="Yes">Yes </mat-option>
              <mat-option value="No">No</mat-option>
              </mat-select>
              <mat-error *ngIf="submitted && LoginForm.get('lookingForJob').hasError('required')">
                Please select Type
            </mat-error>
          </div>

          <div class="input-box">
            <span class="details">Applicant Type</span>
            <mat-select class="form-control" required placeholder="Select applicant type" [formControlName]="'applicantType'">
              <mat-option value="">Please Select</mat-option>
              <mat-option value="Fresher">Fresher </mat-option>
              <mat-option value="Experience">Experience</mat-option>
              <mat-option value="IT">IT</mat-option>
              <mat-option value="NonIT">Non IT</mat-option>
              </mat-select>
          </div>

          <div class="input-box">
            <mat-label>Choose DOB</mat-label>
            <input matInput [matDatepicker]="picker"  [max]="maxDate" [formControlName]="'dob'">
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="submitted && LoginForm.get('dob').hasError('required')">
              Please select DOB
            </mat-error>
          </div>
          

          <div class="input-box">
            <span class="details">Technical Skills</span>
            <textarea placeholder="Enter Technical Skills" required formControlName="skills" rows="2" cols="35"></textarea>
            <mat-error *ngIf="submitted && LoginForm.get('skills').hasError('required')">
              Please enter Technical skills
          </mat-error>
          </div>

          <div class="input-box">
            <span class="details">Comment</span>
            <textarea placeholder="Enter Feedback" formControlName="comment" rows="2" cols="35"></textarea>
          </div>

          <div class="input-box">
            <span class="details">Assignee</span>
            <mat-select class="form-control" required placeholder="Select Assignee" [formControlName]="'assignee'">
              <mat-option value="">Please Select</mat-option>
              <mat-option *ngFor="let assignee of assigneeList" [value]="assignee._id">{{assignee.first_name}} {{assignee.last_name}} </mat-option>
              </mat-select>
          </div>

          <div class="input-box">
            <span class="details">Resume</span>
            <input type="file" style="border: none;padding-left: 0px;" (change)="onFileChanged($event)" accept=".pdf,.doc, .docx">
          </div>
          <button mat-flat-button class="sign-btn" (click)="signup()"  style=" height: 44px;" [disabled]="formSubmitted"><span *ngIf="!formSubmitted">
            Submit
        </span>
        <mat-progress-spinner style="display: inline !important;" *ngIf="formSubmitted" [diameter]="24"
            [mode]="'indeterminate'"></mat-progress-spinner>
          </button> 
        </div>
        <!-- <div class="button">

          <button mat-flat-button class="sign-btn" (click)="signup()"  style=" height: 44px;" [disabled]="formSubmitted"><span *ngIf="!formSubmitted">
            Submit
        </span>
        <mat-progress-spinner style="display: inline !important;" *ngIf="formSubmitted" [diameter]="24"
            [mode]="'indeterminate'"></mat-progress-spinner>
          </button> 

        </div> -->
      </form>
    </div>
  </div>
</sb-layout-dashboard>
